/*Estilos do banner*/
.banner {
    display: grid;
    gap: 1rem;
}
/*posicionando apenas o primeiro e o último filho, os outros já ficaram automaticamente posicionados*/
/*primeiro elemento de banner que é uma imagem*/
.banner img:nth-child(1) {
    grid-column: 1/3;
}

.banner img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}

/*seção eventos*/
.eventos__item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto repeat(2, 1fr) auto;
    grid-template-areas: 
    "imagem imagem"
    "nome nome"
    "data data"
    "local botao";
}

.eventos__item img {
    grid-area: imagem;
}

.eventos__item h3 {
    grid-area: nome;
    align-self: center;
}

.eventos__item h4 {
    grid-area: data;
}

.eventos__item h5 {
    grid-area: local;
    align-self: end;
}

.eventos__item button {
    grid-area: botao;
}

/*seção agenda*/
.agenda__item {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "imagem imagem"
    "informacoes atracao";
}

.agenda__item img {
    grid-area: imagem;
}

.agenda__item .agenda__informacoes {
    grid-area: informacoes;
}


@media screen and (min-width: 720px) {
    .banner {
        /*o calc está descontando o valor do gap (1.5rem = 0.75rem para aprimeira coluna e 0.75rem para a segunda )*/
        grid-template-columns: calc(50% - 0.75rem) auto auto;
        column-gap: 1.5rem;
    }

    .banner img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .banner img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
    }

}

@media screen and (min-width: 720px) {
    /*secao categorias*/
    .categorias {
        display: grid;
        grid-template-areas: 
        "categoria categoria"
        "lista destaques"
        "lista imagem";
        row-gap: 1rem;
        column-gap: 1.5rem;
        grid-template-columns: calc(50% - 0.75rem);
        grid-template-rows: auto 1fr auto;
    }
    .categorias .categorias__titulo {
        grid-area: categoria;
    }
    .categorias .categorias__lista {
        grid-area: lista;
    }
    .categorias .categorias__destaques {
        grid-area: destaques;
    }
    .categorias .categorias__imagem {
        grid-area: imagem;
    }

}
